@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

h1 {
    font-family: 'Roboto Mono',
    monospace;
    color: white;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    }